// --------------------------------------
// Global styles
// --------------------------------------

html, body {
   background-color: #141a24;
   padding: 0;
   margin: 0;
   width: 100%;
   height: 100%;
   font-family: 'Ubuntu', sans-serif;
   color: #dedede;
}
